.heading{
    text-align: center;
    
}
body{
    background-color:bisque
}
.heading::after{
    content: "";
    display: block;
    width: 400px;
    height:3px;
    background-color:blueviolet;
    margin: 0 auto;
    margin-top: 8px;
    
}
.images-one{
    display: flex;
    gap:70px;
    flex-wrap: wrap;
    margin-left:125px;
    margin-top:60px;

}
.images-one img{
    height: 250px;
    width:200px;
    border:2px solid black;
    
}